* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "norse-bold";
    src: url(Norse-Bold.otf);
}

body {
    display: flex;
    height: 100vh;
}

.container {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    position: absolute;
    top: 20%;
    width: 100%;
}

.logo {
    height: 100px;
}
.logo-text {
    color: white;
    font-family: "norse-bold", sans-serif;
    font-size: 5rem;
}
.photo-credit {
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.8rem;
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.form-container {
   flex: 1.5;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 50px;
   background-color: #f9f9f9;
}
.intro-text {
    margin-bottom: 30px;
    font-size: 1.2rem;
    font-weight: bold;
    max-width: 600px;
}
.intro-text p {
    margin-bottom: 15px;
}
.intro-text p:last-child {
    margin-top: 30px;
    margin-bottom: 0;
    font-family: 'italic', sans-serif;
}
.form-section {
     background-color: white;
     padding: 40px;
     margin-left: -50px;
     margin-right: -50px;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
     margin-bottom: 30px;
}

 .form-title {
     margin-bottom: 20px;
     font-size: 1.5rem;
 }
 form {
     display: flex;
     flex-wrap: wrap;
     gap: 20px;
     margin-bottom: 30px;
 }

 .form-group {
     flex: 1 0 40%;
     min-width: 250px;
 }

 label {
     display: block;
     margin-bottom: 5px;
     font-weight: bold;
     color: #333;
 }

 input {
     width: 100%;
     padding: 10px;
     border: 1px solid #ddd;
     border-radius: 4px;
     font-size: 1rem;
 }

 input:focus {
     outline: none;
     border-color: #4a90e2;
     box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
 }

input[type="password"]:invalid{
    border-color: #ff3b3b;
    box-shadow: 0 0 5px rgba(255, 59, 59, 0.5);
}
